<h1>Page d'inscription</h1>
<h4 *ngIf="error">{{error}}</h4>
<form (ngSubmit)="register()">
    <div class="form-group col-md-3">
        <label for="username">Nom d'utilisateur</label>
        <input class="form-control" type="text" name="username" [(ngModel)]="username" id="username" placeholder="Nom d'utilisateur" required>
    </div>
    <div class="form-group col-md-3">
        <label for="password">Mot de passe</label>
        <input class="form-control" type="password" name="password" [(ngModel)]="password" id="pwd" placeholder="Mot de passe" required>
    </div>
    <div class="form-group col-md-3">
        <label for="password_conf">Confirmation de mot de passe</label>
        <input class="form-control" type="password" name="password_conf" [(ngModel)]="password_conf" id="pwd_conf" placeholder="Confirmation Mot de passe" required>
    </div>
    <div class="form-group col-3 boutons">
        <button class="btn btn-primary" type="submit">S'inscrire</button>
        <a href="#" routerLink="/login" routerLinkActive="active"><button class="btn btn-primary" type="button">Retour à la connexion</button></a>
    </div>

</form>